.display-screen {
  height: 100px;
  padding: 10px;
  background-color: #121212;
  align-items: center;
  border: solid white 1px;
  border-radius: 25px;
}

.display-screen .song-title {
  font-size: 28px;
  position: relative;
  top: -10px;
  left: 120px;
  pointer-events: none;
}

.display-screen .song-artist {
  font-size: 20px;
  position: relative;
  left: 120px;
  top: -20px;
  pointer-events: none;
}

.display-screen .song-image {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  top: -115px;
  border: solid 1px white;
}

.display-screen .playlist-position {
  font-size: 16px;
  position: relative;
  left: 540px;
  top: -155px;
}

.home-view .display-screen {
  display: flex;
  justify-content: center;
}

.home-view .display-screen button {
  height: 90px;
  width: 150px;
  margin: 5px;
  display: grid;
}

.home-view .display-screen button i {
  font-size: 50px;
}

.library-view .display-screen {
  display: flex;
  padding-left: 5px;
  flex-wrap: wrap;
  overflow: auto;
}

.library-view .display-screen .library-audio-file {
  position: relative;
  text-align: center;
  height: 100%;
  margin: 5px;
  width: 100px;
  border: solid white 1px;
  border-radius: 25px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.library-view .display-screen .library-audio-file .song-title {
  position: relative;
  font-size: 16px;
  left: 0px;
  top: 0px;
  margin: 5px;
  color: white;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  border: white 1px solid;
}

.library-view .no-songs-found {
  color: white;
}

.playlist-list-view .display-screen {
  display: flex;
  padding-left: 5px;
}

.playlist-list-view .display-screen .playlist-list-icon {
  position: relative;
  text-align: center;
  height: 100%;
  margin: 5px;
  width: 100px;
  border: solid white 1px;
  border-radius: 25px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.playlist-list-view .display-screen .playlist-list-icon .playlist-title {
  position: relative;
  font-size: 16px;
  left: 0px;
  top: 0px;
  margin: 5px;
  color: black;
  height: fit-content;
  pointer-events: none;
  display: grid;
}

.playlist-list-view .display-screen .playlist-list-icon .playlist-title i {
  margin-bottom: 10px;
}

.search-view .display-screen {
  display: flex;
  justify-content: center;
}

.search-view .display-screen .search-input {
  font-size: 20px;
}

.search-view .display-screen .search-submit {
  font-size: 20px;
}

.create-playlist-view .display-screen .list-holder {
  display: flex;
  height: 100%;
}

.create-playlist-view .display-screen .list-column {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.create-playlist-view .display-screen .list-column .list-column-title {
  margin: 0px;
}

.create-playlist-view .display-screen .list-column .list-column-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 70px;
}

.create-playlist-view .display-screen .list-column .list-column-body .item {
  width: 100%;
}

.create-playlist-view .display-screen {
  display: flex;
}

.create-playlist-view .display-screen .playlist-main-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

.create-playlist-view .display-screen .playlist-main-menu .playlist-name-input {
  width: 100%;
}

.create-playlist-view .display-screen .playlist-main-menu .playlist-save {
  font-size: 22px;
  margin: 5px;
}