.display-screen {
  height: 100px;
  padding: 10px;
  background-color: #121212;
  align-items: center;
  border: solid white 1px;
  border-radius: 25px;
}

.display-screen .song-title {
  font-size: 28px;
  position: relative;
  top: -10px;
  left: 120px;
}

.display-screen .song-artist {
  font-size: 20px;
  position: relative;
  left: 120px;
  top: -20px;
}

.display-screen .song-image {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  top: -114px;
}

.display-screen .playlist-position {
  font-size: 16px;
  position: relative;
  left: 540px;
  top: -155px;
}